.priceCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.06); /* Более аккуратная тень */
  margin: 16px;
  width: 320px;
}

.priceCardTitle {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.priceCardPrice {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 8px;
}

.priceCardDescription {
  font-size: 1em;
  color: #666;
  margin-bottom: 16px;
}

.priceCardFeatures {
  list-style: none;
  padding: 0;
}

.priceCardFeatures li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.priceCardFeatures li img {
  margin-right: 8px;
}

.priceCardButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.priceCardButton:hover {
  background-color: #0056b3;
}
