.footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: blue;
}

.contacts img {
  border-radius: 0;
}

.footerContacts {
  display: flex;
  gap: 20px;
  background-color: whitesmoke;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.socialList {
  display: flex;
  gap: 18px;
}

.footerContentList {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
}

.footerContentItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.footerContentTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.footerContentLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--blue);
}

.subTitle {
  color: var(--black-light);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  max-width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}

.legal {
  color: var(--black-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  .footerContacts {
    background-color: transparent;
    padding: 0;
  }

  .footerContentList {
    gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    justify-content: center;
  }
}
