.footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 20px;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: blue;
}

.contacts img {
  border-radius: 0;
}

.footerContacts {
  display: flex;
  gap: 20px;
  background-color: var(--grey);
}

.socialList {
  display: flex;
  gap: 18px;
}

.footerContentList {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footerContentItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footerContentTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.footerContentLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--blue);
}

.subTitle {
  color: var(--black-light);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.legal {
  color: var(--black-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  .footerContacts {
    margin-left: 0;
    background-color: transparent;
    padding: 0;
    align-items: center;
    justify-content: space-between;
  }

  .footer {
    width: 100%;
    flex-direction: column;
    gap: 0;
    padding-top: 20px;
  }

  .footerContentList {
    flex-direction: row;
    width: initial;
    align-items: center;
  }

  .socialList {
    gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    justify-content: flex-start;
  }
}
